@import "../../vars.css";

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 49px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-text);
    z-index: 1;
}

.title {
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 33px;
    font-family: var(--font-roboto);
    background: linear-gradient(
        90deg, 
        rgba(255, 255, 255, 1) 40%, 
        rgba(255, 255, 255, 0.8) 140%
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.description {
    font-size: 30px;
    font-family: var(--font-roboto);
    margin-bottom: 52px;
    padding-right: 40px;
}

.contactBtn {
    text-decoration: none;
    background-color: var(--color-primary);
    color: var(--color-text);
    border-radius: 100px;
    font-size: 30px;
    font-weight: 600px;
    padding: 17px 26px;
    box-shadow: 0 0 8px 0 rgb(171, 193, 233);
}

@keyframes floating {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0px);
    }
}

.imageContainer {
    width: 650px;
    height: 435px;
}

.imageInner {
    position: relative;
    width: 100%;
    height: 100%;

    /* Animation: Up and down floating */
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.frontImage, .backImage {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform 1s;
}

.frontImage {
    background-image: url("../../../assets/hero/frontImage.png");
    transform: rotateY(0deg);
}

.backImage {
    background-image: url("../../../assets/hero/backImage.png");
    transform: rotateY(180deg);
}

.flipped .frontImage {
    transform: rotateY(180deg);
}

.flipped .backImage {
    transform: rotateY(0deg);
}


.topBlur {
    position: absolute;
    width: 50vw;
    height: 50vw;
    min-width: 350px;
    min-height: 350px;
    top: -128px;
    left: -10vw;
    border-radius: 500px;
    background: rgba(33, 111, 248, 0.2);
    filter: blur(100px);
    z-index: 0;
}

.bottomBlur {
    position: absolute;
    width: 60vw;
    height: 50vw;
    min-width: 350px;
    min-height: 250px;
    top: 176px;
    right: -45vw;
    border-radius: 500px;
    background: rgba(33, 111, 248, 0.2);
    filter: blur(100px);
    z-index: 0;
}

@media screen and (max-width: 830px) {
    .container {
        flex-direction: column-reverse;
    }

    .content {
        align-items: center;
        justify-content: center;
    }

    .imageContainer {
        width: 85%;
    }
}